* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: black; /* Set background color to black */
}
.vid-container {
    height: 100vh;
    width: 100vw;
    position: relative; /* Allow layering of the filter layer */
}
.video {
    height: 100%;
    width: 100%;
}
.filter-layer {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Ensure it is behind the video controls */
    background-color: transparent; /* Default transparent */
}
.action-cont {
    height: 12rem;
    width: 5rem;
    position: absolute;
    top: calc((100vh - 12rem)/2);
    right: 5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.action-cont > * {
    width: 100%;
    height: 5rem;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.record-btn {
    width: 3rem;
    height: 3rem;
    background-color: red;
    border-radius: 50%;
}
.capture-btn {
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
}
.scale-record {
    animation-name: scale-record;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
@keyframes scale-record {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.1);
    }
}
.scale-capture {
    animation-name: scale-capture;
    animation-iteration-count: 1;
    animation-duration: 1s;
}
@keyframes scale-capture {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.1);
    }
}
.timer-cont {
    height: 16rem;
    width: 5rem;
    position: absolute;
    top: 0;
    left: 5rem;
    color: aqua;
    font-size: 0.8rem;
}
.timer {
    display: none;
}
.filter-cont {
    height: 16rem;
    width: 5rem;
    background-color: aqua;
    position: absolute;
    top: calc((100vh - 16rem)/2);
    left: 5rem;
    z-index: 2;
}
.filter {
    background-image: url("https://picsum.photos/seed/picsum/200/300");
    height: 4rem;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
}
.orange {
    background-color: #f4a0079e;
}
.brown {
    background-color: #eb0b0bab;
}
.pink {
    background-color: #e9b7c0bd;
}
.transparent {
    background-color: transparent;
}
